<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <title>Horizonello</title>
</head>
<body>
  <header>
    <div class="container">
      <div class="tabs is-centered">
        <ul>
          <li class="is-active"><a>Boards</a></li>
        </ul>
      </div>
    </div>
    <br>
  </header>

  <div id="main-content" class="columns">
    {{{ body }}}
  </div>
  
  <footer class="footer">
    <div class="container">
      <div id="footer-field" class="field has-addons">
        <div class="control">
          <input id="new-list-input" class="input is-large" type="text" placeholder="add a list">
        </div>
        <div class="control">
          <a id="new-list-button" class="button is-primary is-large">
            Add
          </a>
        </div>
      </div>
    </div>
  </footer>

  <script src="js/jquery.min.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>

